.contactContainer {
  padding-bottom: 8rem;
}

.contactSubHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: plain, sans-serif;
  color: rgb(119, 119, 119);
}

.resumeSubHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: plain, sans-serif;
  color: rgb(119, 119, 119);
}
