.contactContainer {
  padding-bottom: 8rem;
}

.contactSubHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: plain, sans-serif;
  color: rgb(119, 119, 119);
}

.resumeSubHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: plain, sans-serif;
  color: rgb(119, 119, 119);
}

.contactTitle {
  margin-top: 5rem;
  font-size: 56px;
  letter-spacing: 0.005em;
  font-family: Menlo;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1d1d1f;
  position: static;
}

@media (max-width: 375px) {
  .contactTitle {
    margin-top: 5rem;
    font-size: 36px;
    letter-spacing: 0.005em;
    font-family: Menlo;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1d1d1f;
    position: static;
  }
}
