#skillsImages li {
  list-style: none;
  margin: 20px;
}

#skillsContainer ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 600px;
}

#skillsContainer {
  display: flex;
  justify-content: center;
}

#skillsContainer li:hover {
  opacity: 0.8;
  cursor: pointer;
  filter: drop-shadow(2px 4px 8px lightgrey);
}
